*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CED4DA;
}

h1{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: .9rem;
  margin-bottom: .9rem;
}

ul{
  list-style: none;
  margin-top: 1.5rem;
}

li{
  margin-bottom: .5rem;
}

div{
  padding: 3rem;
}

span{
  color: #CED4DA;
  font-size: 1rem;
}

.main{
  width: 80%;
  display: grid;
}

.one{
  grid-area: one;
  background: #FFF;
}

.title{
  color: hsl(179, 62%, 43%);
  margin-bottom: 1rem;
  font-size: 3rem;
}

.subtitle{
  color: hsl(71, 73%, 54%);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.description{
  color: #6C757D;
}

.two{
  background: #07BEB8;
  grid-area: two;
  color: #FFF;
}

.button{
  background: hsl(71, 73%, 54%);
  border: none;
  padding: 1rem 7rem;
  border-radius: 8px;
  color: #fff;
  margin-top: 2rem;
  font-weight: bold;
}

.three{
  background: #3DCCC7;
  grid-area: three;
  color: #fff;
}

.grid-template-areas{
  grid-template-areas:
    'one one'
    'two three';
}

@media  (max-width: 600px){
  .main{
    width: 90%;
    display: block;
  }
  
  .button{
    padding: 1rem 5rem;
  }
}
